<table class="table table-bordered table-striped table-hover table-condensed">
    <tr ng-repeat="container in containers" ng-class="{'info': $stateParams.containerName === container.name, 'warning': container.unmanaged}" ng-click="$state.go('container', {containerName: container.name})" style="cursor: pointer">
        <td><span style="display: inline-block;width: 100px" class="label label-default"
                  ng-class="{'label-success': container.state.status==='running', 'label-warning': container.state.status==='stopped', 'label-danger': container.state.status === 'not-there'}">{{container.state.status}}</span>
        </td>
        <td ng-if="configuration.canRedeploy">
            <div style="width: 6em">
                <floto-redeploy-button ng-if="!container.unmanaged" size="xs" on-click="redeployContainers({containers: [container.name], deploymentMode: deploymentMode})"></floto-redeploy-button>
            </div>
        </td>
        <td>
            <button ng-if="!container.unmanaged" type="button" class="btn btn-xs btn-success"
                    ng-disabled="container.state.status == 'running'"
                    ng-click="startContainers({containers: [container.name]})">Start
            </button>
        </td>
        <td>
            <button ng-if="!container.unmanaged" type="button" class="btn btn-xs btn-danger"
                    ng-disabled="container.state.status != 'running'"
                    ng-click="stopContainers({containers: [container.name]})">Stop
            </button>
        </td>
        <td>
            <button ng-if="!container.unmanaged" type="button" class="btn btn-xs btn-danger"
                    ng-click="purgeContainerData({containers: [container.name]})">Purge data
            </button>
            <button ng-if="container.unmanaged" type="button" class="btn btn-xs btn-danger"
                    ng-click="destroyUnmanagedContainer({containerName: container.name, hostName: container.state.hostName})">Destroy
            </button>
        </td>
        <td>
            <a ng-show="container.config.webUrl" href="{{container.config.webUrl}}" style="display: block;white-space:nowrap;" ng-click="$event.stopPropagation()"><span class="glyphicon glyphicon-globe"></span> Web UI</a>
        </td>
        <td style="width: 100%" title="{{container.image}} @ {{container.host}}">
            {{container.name}}<span class="text-muted pull-right">{{container.config.version}}</span>
            <span ng-if="container.unmanaged" class="pull-right label label-warning" title="This container is not referenced in the system definition. This may be due to changes in the system definition or because the container was started manually.">Unmanaged!</span>
            </a></td>
    </tr>
</table>
