<div ng-controller="ContainersController" class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <h2>Containers</h2>

            <div class="row">
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-default" ng-click="refresh()">Refresh
                    </button>
					<div class="btn-group" ng-class='{open2: open2}'>
						<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"
								ng-click='open2=!open2'>Redeploy all <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li data-ng-click="open2=false; redeployContainers({containers: containerNames,deploymentMode: 'fromRootImage'})"><a href>From Scratch</a></li>
							<li data-ng-click="open2=false; redeployContainers({containers: containerNames,deploymentMode: 'fromRootImage'})"><a href>From Root-image</a></li>
							<li data-ng-click="open2=false; redeployContainers({containers: containerNames,deploymentMode: 'fromBaseImage'})"><a href>From Base-image</a></li>
							<li data-ng-click="open2=false; redeployContainers({containers: containerNames,deploymentMode: 'containerRebuild'})"><a href>Container-rebuild only</a></li>
						</ul>
					</div>
                    <button type="button" class="btn btn-success"
                            ng-click="startContainers({containers: containerNames})">Start all
                    </button>
                    <button type="button" class="btn btn-danger"
                            ng-click="stopContainers({containers: containerNames})">Stop all
                    </button>


                </div>
                <div class="col-md-6">
                    <div style="display: inline">
                        <div class="pull-right">
                            group by &nbsp;
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        ng-click="$state.go('.', {grouping: null})"
                                        ng-class="{'active': grouping == null}">None
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="$state.go('.', {grouping: 'host'})"
                                        ng-class="{'active': grouping == 'host'}">Host
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="$state.go('.', {grouping: 'image'})"
                                        ng-class="{'active': grouping == 'image'}">Image
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div floto-fill-height>

                <div ng-if="grouping">
                    <div ng-repeat="group in groups" ng-init="containers = group.containers">
                        <div style="display: table">
                            <div style="display: table-row;">
                                <div style="display: table-cell;width: 100%">
                                    <h4>{{group.title}}</h4>
                                </div>
                                <div style="display: table-cell; white-space: nowrap">
									<div class="btn-group" ng-class='{open3: open3}'>
										<button type="button" data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle"
												ng-click='open3=!open3'>Redeploy all <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li data-ng-click="open3=false; redeployContainers({containers: group.containerNames,deploymentMode: 'fromRootImage'})"><a href>From Scratch</a></li>
											<li data-ng-click="open3=false; redeployContainers({containers: group.containerNames,deploymentMode: 'fromRootImage'})"><a href>From Root-image</a></li>
											<li data-ng-click="open3=false; redeployContainers({containers: group.containerNames,deploymentMode: 'fromBaseImage'})"><a href>From Base-image</a></li>
											<li data-ng-click="open3=false; redeployContainers({containers: group.containerNames,deploymentMode: 'containerRebuild'})"><a href>Container-rebuild only</a></li>
										</ul>
									</div>
                                    <button type="button" class="btn btn-xs btn-success"
                                            ng-click="startContainers({containers: group.containerNames})">Start
                                    </button>
                                    <button type="button" class="btn btn-xs btn-danger"
                                            ng-click="stopContainers({containers: group.containerNames})">Stop
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ng-include src="'/js/containers/container-table.html'"></ng-include>
                    </div>
                </div>
                <div ng-if="!grouping">
                    <ng-include src="'/js/containers/container-table.html'"></ng-include>
                </div>
            </div>
        </div>
        <div class="col-md-6" ui-view></div>
    </div>
</div>