<div ng-controller="ContainerLogController">
	<div>
	<label>
		<input type="checkbox" ng-model="showTimestamps"> Show timstamps
	</label>
	<span class="pull-right">
		<label>
			<input type="checkbox" ng-model="autoScroll"> Auto-Scroll
		</label>
	</span>
	</div>
	<div floto-fill-height>
	<div style="overflow-x: auto; height: 100%;" floto-auto-scroll="autoScroll" floto-auto-scroll-trigger="scrollDown">
		<div style="display: table;" class="log-output">
			<div ng-style="{display: showTimestamps?'table-cell':'none'}" class="log-timestamps" style="padding-right: 10px"></div>
			<div class="log-messages" style="display: table-cell;"></div>
		</div>
	</div>
	</div>

</div>