@font-face {
    font-family: 'SourceSansPro';
    src: url('/lib/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('/lib/fonts/SourceCodePro-Regular.ttf');
}

body {
    font-family: 'SourceSansPro', sans-serif;
    font-size: 15px;
}

pre {
    font-family: 'SourceCodePro', sans-serif;
    font-size: 12px;
}

.json-structure-table {
    position: relative;
    left: 20px;
}

.json-structure-key {
    vertical-align: top;
    cursor: pointer;
    padding-right: 1em;
}

.json-structure-expander {
    display: inline-block;
    width: 1em;
}

.log-output {
	font-family: monospace, monospace;
	font-size: 11px;
	line-height: 140%;
}

.log-stdout {
	white-space: nowrap;
}

.log-stderr {
	white-space: nowrap;
	color: #c00;
}