<div ng-controller="TasksController" class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2>Tasks
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <br>

            <table class="table table-bordered table-striped table-hover table-condensed">
                <th style="width: 3em; text-align: right">ID</th>
                <th>Title</th>
                <th style="width: 10em">Started</th>
                <th style="width: 10em">Completed</th>
                <th style="width: 10em">Duration</th>
                <tr ng-repeat="task in tasks" ng-class="task.class"
                    ng-click="$state.go('task', {taskId: task.id})" style="cursor: pointer" >
                    <td class="text-muted" style="text-align: right">
                        #{{task.id}}
                    </td>
                    <td>
                        <span class="glyphicon" ng-class="task.icon" title="{{task.status}}"></span> {{task.title}}
                    </td>
                    <td title="{{task.startDate}}">
                        <span am-time-ago="task.startDate"></span>
                    </td>
                    <td title="{{task.endDate}}">
                        <span am-time-ago="task.endDate"></span>
                    </td>
                    <td title="{{task.durationInMs | duration }}">
                            {{task.durationInMs | humanDuration }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-7" ui-view></div>
    </div>
</div>