<div ng-controller="TaskController">
    <h3>{{task.title}}<span class="text-muted pull-right">#{{taskId}}</span> </h3>
    <div floto-fill-height>
    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr ng-repeat="entry in logs.logs" ng-class="entry.class">
            <td>
                {{entry.message}}
                <pre ng-if="entry.stackTrace" ng-bind="entry.stackTrace">
                </pre>
            </td>
        </tr>
    </table>
    </div>
</div>