<div ng-controller="TasksController"    class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Tasks
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <br>

            <table class="table table-bordered table-striped table-hover table-condensed">
                <tr ng-repeat="task in tasks.slice().reverse()" ng-class="{'success': task.status === 'success', 'danger': task.status === 'error'}">
                    <td>
                        {{task.title}} {{task.status}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" ui-view></div>
    </div>
</div>