@font-face {
	font-family: 'SourceSansPro';
	src: url('fonts/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'SourceCodePro';
	src: url('fonts/SourceCodePro-Regular.ttf');
}

body {
	font-family: 'SourceSansPro', sans-serif;
	font-size: 15px;
}

pre {
	font-family: 'SourceCodePro', sans-serif;
	font-size: 12px;
}
