<tr>
    <td class="json-structure-key" ng-click="isExpanded = !isExpanded; false;">
        <b><span class="json-structure-expander" ng-style="{visibility: isExpandable?'':'hidden'}">{{isExpanded? '-': '+'}} </span>{{key}}</b>:
    </td>
    <td>
    <span ng-if="!isExpanded">
        <span ng-if="isArray">
            [{{value.length}}]
        </span>
        <span ng-if="isObject">
            {<span ng-if="value.name"><b>name: </b>{{value.name}}, </span>...}
        </span>
    </span>
    <span ng-if="isExpanded">
        <span ng-if="isArray">
            [
        <table class="json-structure-table">
            <tr ng-repeat="item in value" json-item key="$index" value="item"/>
        </table>
            ]
        </span>
        <span ng-if="isObject">
            <json-table object="value"/>
        </span>
    </span>
    <span ng-if="isSimple">
        {{value}} <span class="text-muted">({{typeOf(value)}})</span>
    </span>
    </td>
</tr>