<div ng-controller="PatchesController" class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2>Patches
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary pull-right" ng-click="createPatch()">Create initial patch</button>
                </div>
            </div>
            <br>

            <div floto-fill-height>
                {{patches}}
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <th style="width: 12em;">Created</th>
                    <th>Revision</th>
                    <th>Parent</th>
                    <tr ng-repeat="patch in patchInfos.patches" ng-class="patch.id == $stateParams.patchId ? 'info':''"
                        ng-click="$state.go('patch', {patchId: patch.id})" style="cursor: pointer">
                        <td>
                            {{patch.creationDate}}
                        </td>
                        <td>
                            {{patch.revision}}
                        </td>
                        <td>
                            {{patch.parentRevision || '-'}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7" ui-view></div>
    </div>
</div>